@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3125rem;
    font-weight: 400;
    color: #272727;
    background-color: #F5F5F5;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
}

.meal-group {
    width: clamp(20%, 80%, 90%);
}


input {
    padding: 0.5rem;
    border: 3px solid #BCBABA;
    outline: none;
}

input:focus {
    border: 3px double transparent;
    background-image: linear-gradient(#F5F5F5, #F5F5F5), 
                      linear-gradient(to right, #F48200, #FDE88D);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}


.meal-group > input {
    width: clamp(10%, 20%, 100%);
    align-self: center;  
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin: .5rem 0;
    /* border: 2px solid green; */
    max-width: 80%;
}

.form-group > input {
    border-radius: .25em;
    padding: .25em;
}

.cost-meal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem .5rem;

    /* border: 2px solid red; */
}

.final-cost-meal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem .5rem;
    /* border: 2px solid red; */
}

.each-meal.form-group {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin: 1rem .5rem;
    max-width: 80%;
}

.each-meal > input {
    max-width: 100%;
} 

.tax-tip-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: clamp(20%, 80%, 90%);
    /* border: 2px solid red; */
}

button {
    display: block;
    border-radius: .25em;
    border: 2px solid #00ffd6;
    padding: .5em 2em;    
    margin: 0 auto;
    /* min-width: 1px; */
    background-color: #00ffd6;
    color: black;
    font-weight: bold;
    transition: all 0.2s;
}

button:hover {
    background-color: black;
    color: #00ffd6;
    cursor: pointer;
}
