@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3125rem;
    font-weight: 400;
    color: #272727;
    background-color: #F5F5F5;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.image {
    width: clamp(10%, 20%, 90%);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: clamp(20%, 80%, 90%);
    margin: 0 auto;
}

.meal-group {
    /* border: 2px solid black; */
    width: 100%;
}

.meal-cost-title {
    /* border: 2px solid green; */
    width: 100%;
}

input {
    padding: 0.5rem;
    border: 3px solid #BCBABA;
    outline: none;
    width: clamp(20%, 80%, 90%);
}

#number-people {
    text-align: center;
}

input:focus {
    border: 3px double transparent;
    background-image: linear-gradient(#F5F5F5, #F5F5F5), 
                      linear-gradient(to right, #F48200, #FDE88D);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.meal-group > input {
    width: clamp(10%, 20%, 100%);
    align-self: center;  
}

.form-group {
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
}

.form-group > input {
    border-radius: .25em;
    padding: .25em;
}

.final-cost-meal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 .5rem;
    /* border: 2px solid red; */
}

.cost-meal-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /* border: 2px solid black; */
}

.each-meal.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    box-shadow: 0px 4px 25px 0px #cfc9c9;
    border-radius: 4px;
    padding: 2% 5%;
    /* border: 2px solid red; */
}

.each-meal-div {
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    gap: 1rem;
}

.each-meal.form-group > label {
    width: clamp(20%, 40%, 90%);
    /* border: 2px solid black; */
    justify-self: start;
}

.each-meal-color {
    color: rgba(244, 130, 0, 0.6);
    /* border: 2px solid red; */

}

.chevron {
    /* border: 2px solid red; */
    height: .5rem;
    cursor: pointer;
}

.tax-tip-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    /* border: 2px solid red; */
}

.tax-tip-container .form-group {
    width: clamp(20%, 40%, 90%);
    /* border: 2px solid black; */
}

.tax-tip-container input {
    width: 100%;
}

button {
    display: block;
    border-radius: .25em;
    border: 2px solid #00ffd6;
    padding: .5em 2em;    
    margin: 0 auto;
    /* min-width: 1px; */
    background-color: #00ffd6;
    color: black;
    font-weight: bold;
    transition: all 0.2s;
}

button:hover {
    background-color: black;
    color: #00ffd6;
    cursor: pointer;
}

.total-word {
    color: black;
    font-weight: bold;
}

.total-value {
    color: #F48200;
    font-weight: bold;
}

#total-div {
    align-self: end;
}

